auto-install-peers = true
strict-peer-dependencies = true

# GitHub Packagesからダウンロード・インストールするときは認証が必要になる
# //npm.pkg.github.com/:_authToken=ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
@crrtp:registry=https://npm.pkg.github.com/
